@import "tailwindcss";

@layer utilities {
  .shimmer {
    position: relative;
    overflow: hidden;
    background: #1f2937; /* bg-gray-800 */
  }

  .shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.1),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    100% {
      left: 150%;
    }
  }
}
